<html xmlns:th="https://www.thymeleaf.org" th:replace="~{_fragments/layout :: layout (~{::body})}">
    <body>
        <div class="container">
            <h2>Insert new movie</h2>
            <form>
                <!-- Title -->
                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" class="form-control" id="title" placeholder="Enter title">
                </div>
                <!-- Year -->
                <div class="form-group">
                    <label for="year">Year</label>
                    <input type="number" class="form-control" id="year" placeholder="Enter year">
                </div>
                <!-- Genre -->
                <div class="form-group">
                    <label for="genre">Genre</label>
                    <input type="text" class="form-control" id="genre" placeholder="Enter genre">
                </div>
                <!-- Plot -->
                <div class="form-group">
                    <label for="genre">Plot</label>
                    <textarea class="form-control" id="plot" placeholder="Enter plot"></textarea>
                </div>
                <!-- Poster -->
                <div class="form-group">
                    <label for="poster">Poster</label>
                    <input type="file" class="form-control" id="poster">
                </div>

                <!-- Submit -->
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </body>
</html>
