<html th:replace="~{_fragments/layout :: layout (~{::body}, ~{})}" xmlns:th="https://www.thymeleaf.org">
<body>
<h1>Insert new movie</h1>
<form enctype="multipart/form-data" method="post" th:action="@{/movie}" th:object="${movie}">
    <!--/* Id (optional for create) */-->
    <input name="id" th:if="*{id}" th:value="*{id}" type="hidden">
    <!-- Title -->
    <div class="form-group">
        <label for="title">Title</label>
        <input class="form-control" id="title" placeholder="Enter title" th:field="*{title}" type="text">
        <p th:errors="*{title}" th:if="${#fields.hasErrors('title')}"></p>
    </div>
    <!-- Year -->
    <div class="form-group">
        <label for="year">Year</label>
        <input class="form-control" id="year" placeholder="Enter year" th:field="*{year}" type="number">
        <p th:errors="*{year}" th:if="${#fields.hasErrors('year')}"></p>
    </div>
    <!-- Genre -->
    <div class="form-group">
        <label for="genre">Genre</label>
        <input class="form-control" id="genre" list="genres" placeholder="Enter genre" th:field="*{genre}"
               type="text">
        <datalist id="genres">
            <option value="Action">
            <option value="Adventure">
            <option value="Comedy">
            <option value="Drama">
            <option value="Horror">
            <option value="Romance">
            <option value="Thriller">
        </datalist>
        <small class="form-text text-muted">Double click the field to see a list of suggested genres.</small>
        <p th:errors="*{genre}" th:if="${#fields.hasErrors('genre')}"></p>
    </div>
    <!-- Plot -->
    <div class="form-group">
        <label for="genre">Plot</label>
        <textarea class="form-control" id="plot" placeholder="Enter plot" th:field="*{plot}"></textarea>
        <p th:errors="*{plot}" th:if="${#fields.hasErrors('plot')}"></p>
    </div>
    <!-- Poster -->
    <div class="form-group">
        <label for="poster">Poster</label>
        <input th:if="${movie.posterImage}" class="form-control" name="posterImage"
               th:value="${movie.posterImage}" hidden>
        <input class="form-control" id="poster" name="image" type="file">
    </div>

    <!-- Submit -->
    <button class="btn btn-primary" type="submit">Submit</button>
</form>
</body>
</html>
